// main: ../../index.less
.topMethods,
.allMethods {
  // margin: 30px -20px;
  width: 100%;
  &__title {
    text-align: center;
  }
  &__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
  }

  .content {
    &__column {
      box-sizing: border-box;
      border-radius: 25px;
      margin: 20px 0px;
      padding: 25px 10px;
      flex: 0 0 45%;
      overflow: hidden;
      transition: 1s;
    }

    &__title {
      font-size: 26px;
      margin: 0px 0px 10px;
    }

    &__text {
      height: 74px;
      overflow: hidden;
      text-overflow: ellipsis;
      flex: 0 0 100%;
      // font-weight: 600;
      font-size: 16px;
    }

    

    &__info {
      display: block;
      text-decoration: none;
      box-sizing: border-box;
      font-weight: 800;
      width: 160px;
      border-radius: 20px;
      padding: 10px;
      margin: 30px auto 0px;
      transition: 0.3s;
    }
  }
}

.content__likes {
  margin: 20px 0px 0px;
  display: flex;
  font-size: 20px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
