.styleColorDark {
  color: black;
}
.styleColorDark .modalBg {
  background: #ecf0f1;
}
.styleColorDark header {
  border-bottom: 2px solid #405ca1;
  box-shadow: 0 0 25px #405ca1;
  background: white;
}
.styleColorDark .link {
  color: black;
}
.styleColorDark .link:hover {
  color: #405ca1;
}
.styleColorDark .active {
  color: #405ca1;
  text-shadow: 0 0 20px #405ca1;
}
.styleColorDark .active:hover {
  color: #405ca1;
}
.styleColorDark svg path,
.styleColorDark svg rect {
  fill: #405ca1;
}
.styleColorDark .allMethods__input {
  color: black;
  background-color: white;
  border: 2px solid black;
}
.styleColorDark .allMethods__input:focus {
  box-shadow: 0 0 15px #405ca1;
}
.styleColorDark .myModal {
  background: #0e101c;
  background: rgba(0, 0, 0, 0.185);
}
.styleColorDark .myModal-body {
  background: #131313;
  box-shadow: 0 0px 15px #405ca1;
}
.styleColorDark .myModal h1 {
  color: white;
  border-bottom: 1px solid #405ca1;
}
.styleColorDark .myModal .form {
  background: #0e101c;
}
.styleColorDark .myModal input {
  border: 1px solid #405ca1;
}
.styleColorDark .myModal label {
  color: white;
}
.styleColorDark .myModal .btn {
  color: #000;
  border: 2px solid #405ca1;
  background-color: #405ca1;
}
.styleColorDark .myModal .btn:hover {
  color: #405ca1;
  border: 2px solid #405ca1;
  background-color: #292929;
  box-shadow: 0 0 15px #405ca1;
}
.styleColorDark .myModal .auth-btn {
  background-color: grey;
}
.styleColorDark .myModal .auth-btn:hover {
  background-color: #676767;
  box-shadow: 0 0 10px #405ca1;
  color: #000;
}
.styleColorDark .myModal button[type="submit"],
.styleColorDark .myModal input[type="submit"] {
  background: #405ca1;
  color: #000;
  border: 2px solid #405ca1;
}
.styleColorDark .myModal button[type="submit"]:hover,
.styleColorDark .myModal input[type="submit"]:hover {
  background: #ab5d01;
  color: #000;
}
.styleColorDark .myModal button[type="button"] {
  background: #292929;
  color: #000;
}
.styleColorDark .myModal pre {
  color: #000;
}
.styleColorDark .myModal button {
  border: 1px solid #292929;
}
.styleColorDark .topMethods .content__column,
.styleColorDark .allMethods .content__column {
  border: 2px solid #405ca1;
}
.styleColorDark .topMethods .content__column:hover,
.styleColorDark .allMethods .content__column:hover {
  border: 2px solid #405ca1;
  box-shadow: 0 0 15px #405ca1;
}
.styleColorDark .topMethods .content__info,
.styleColorDark .allMethods .content__info {
  color: black;
  border: 2px solid #405ca1;
  background-color: white;
}
.styleColorDark .topMethods .content__info:hover,
.styleColorDark .allMethods .content__info:hover {
  color: white;
  border: 2px solid black;
  background-color: #405ca1;
  box-shadow: 0 0 15px #405ca1;
}
.styleColorDark .profile {
  color: black;
}
.styleColorDark .profile__file {
  color: rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);
}
.styleColorDark .profile__input input {
  color: black;
  background-color: white;
  border: 2px solid #405ca1;
}
.styleColorDark .profile__input input:focus {
  box-shadow: 0 0 15px #405ca1;
}
.styleColorDark .mainFlex {
  /**/
  /* Arrow */
  /* Transition */
}
.styleColorDark .mainFlex input::-webkit-input-placeholder,
.styleColorDark .mainFlex textarea::-webkit-input-placeholder {
  color: black;
}
.styleColorDark .mainFlex input:focus::-webkit-input-placeholder,
.styleColorDark .mainFlex textarea:focus::-webkit-input-placeholder {
  color: black;
}
.styleColorDark .mainFlex input::-moz-placeholder,
.styleColorDark .mainFlex textarea::-moz-placeholder {
  color: black;
}
.styleColorDark .mainFlex input:focus::-moz-placeholder,
.styleColorDark .mainFlex textarea:focus::-moz-placeholder {
  color: black;
}
.styleColorDark .mainFlex input::placeholder,
.styleColorDark .mainFlex textarea::placeholder {
  color: black;
}
.styleColorDark .mainFlex input:focus::placeholder,
.styleColorDark .mainFlex textarea::focus:placeholder {
  color: black;
}
.styleColorDark .mainFlex input::-ms-placeholder,
.styleColorDark .mainFlex textarea::-ms-placeholder {
  color: black;
}
.styleColorDark .mainFlex input:focus::-ms-placeholder,
.styleColorDark .mainFlex textarea:focus::-ms-placeholder {
  color: black;
}
.styleColorDark .mainFlex input:hover::-webkit-input-placeholder,
.styleColorDark .mainFlex textarea:hover::-webkit-input-placeholder {
  color: black;
}
.styleColorDark .mainFlex input:hover:focus::-webkit-input-placeholder,
.styleColorDark .mainFlex textarea:hover:focus::-webkit-input-placeholder {
  color: black;
}
.styleColorDark .mainFlex input:hover::-moz-placeholder,
.styleColorDark .mainFlex textarea:hover::-moz-placeholder {
  color: black;
}
.styleColorDark .mainFlex input:hover:focus::-moz-placeholder,
.styleColorDark .mainFlex textarea:hover:focus::-moz-placeholder {
  color: black;
}
.styleColorDark .mainFlex input:hover::placeholder,
.styleColorDark .mainFlex textarea:hover::placeholder {
  color: black;
}
.styleColorDark .mainFlex input:hover:focus::placeholder,
.styleColorDark .mainFlex textarea:hover:focus::placeholder {
  color: black;
}
.styleColorDark .mainFlex input:hover::placeholder,
.styleColorDark .mainFlex textarea:hover::placeholder {
  color: black;
}
.styleColorDark .mainFlex input:hover:focus::-ms-placeholder,
.styleColorDark .mainFlex textarea:hover::focus:-ms-placeholder {
  color: black;
}
.styleColorDark .mainFlex .inputClass {
  color: black;
  border: solid 1px #405ca1;
}
.styleColorDark .mainFlex input {
  color: black;
  border: solid 1px #405ca1;
}
.styleColorDark .mainFlex input:hover {
  background: white;
  color: black;
}
.styleColorDark .mainFlex textarea {
  color: black;
  border: solid 1px #405ca1;
}
.styleColorDark .mainFlex .textareaClass {
  border: solid 1px #405ca1;
}
.styleColorDark .mainFlex textarea:hover {
  background: white;
  color: black;
}
.styleColorDark .mainFlex #submit {
  color: black;
  border: solid 1px black;
}
.styleColorDark .mainFlex #submit:hover {
  color: black;
}
.styleColorDark .mainFlex select {
  background: black;
}
.styleColorDark .mainFlex .select {
  background: black;
}
.styleColorDark .mainFlex select {
  color: black;
}
.styleColorDark .mainFlex .select::after {
  background: black;
}
.styleColorDark .mainFlex .select:hover::after {
  color: black;
}
.styleColorDark .mainFlex button.outline {
  color: black;
  border-color: #405ca1;
}
.styleColorDark .mainFlex button.outline:hover {
  color: white;
  background: #405ca1;
  border-color: white;
}
.styleColorDark .mainFlex button.orange {
  color: #405ca1;
  border-color: #405ca1;
}
.styleColorDark .mainFlex .box select {
  background: #405ca1;
  color: white;
  box-shadow: 0 5px 20px rgba(64, 92, 161, 0.2);
}
.styleColorDark .mainFlex .logoTrash {
  color: #405ca1;
}
.styleColorDark .mainFlex .logoTrash:hover i {
  color: #405ca1;
}
.styleColorDark .target {
  border: 2px solid #405ca1;
  box-shadow: 0 0 5px #405ca1;
}
.styleColorDark .target:hover {
  box-shadow: 0 0 25px #405ca1;
}
.styleColorDark .target__title {
  color: black;
}
.styleColorDark .target__search .search__input {
  color: black;
  background-color: white;
  border: 2px solid #405ca1;
}
.styleColorDark .target__search .search__input:focus {
  box-shadow: 0 0 15px #405ca1;
}
.styleColorDark .target .progress-bar {
  background-color: #1a1a1a;
  box-shadow: 0 1px 5px #000 inset;
}
.styleColorDark .target .progress-bar span {
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  color: black;
}
.styleColorDark .target .progress-bar__red {
  background-color: #ff0000;
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.15) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0.15) 75%, transparent 75%, transparent);
}
.styleColorDark .target .progress-bar__orange {
  background-color: #fecf23;
  background-image: linear-gradient(to top, #fecf23, #fd9215);
}
.styleColorDark .target .progress-bar__orange::after {
  background: #fff;
}
.styleColorDark .target .progress-bar__green {
  background-image: linear-gradient(to top, #a5df41, #4ca916);
  box-shadow: 0 5px 5px rgba(255, 255, 255, 0.7) inset, 0 -5px 5px rgba(255, 255, 255, 0.7) inset;
}
.styleColorDark .target .progress-bar__last {
  color: #000;
}
.styleColorDark .target_spoiler {
  border: 2px solid #405ca1;
}
.styleColorDark .tgl-flip + .tgl-btn:after,
.styleColorDark .tgl-flip + .tgl-btn:before {
  color: #000;
}
.styleColorDark .tgl-flip + .tgl-btn:after {
  background: #02c66f;
}
.styleColorDark .tgl-flip + .tgl-btn:before {
  background: #ff3a19;
}
.styleColorDark .tgl-flip:checked + .tgl-btn:after {
  background: #7fc6a6;
}
.styleColorDark .bt {
  color: #405ca1;
}
.styleColorDark .more-bt {
  border-right: 2px solid #405ca1;
  border-bottom: 2px solid #405ca1;
  border-color: #405ca1;
}
.styleColorDark .more-bt:after,
.styleColorDark .more-bt:before {
  background: #405ca1;
}
.styleColorDark ::selection {
  background: green;
  color: #ffffff;
}
.styleColorDark .more-bt i:after,
.styleColorDark .more-bt i:before {
  background: #405ca1;
}
.styleColorDark .more-bt:hover i:after {
  background: #405ca1;
}
.styleColorDark .more-bt:hover i:before {
  background: #405ca1;
}
.styleColorDark .more-bt .fl,
.styleColorDark .more-bt .sfl {
  background: #405ca1;
}
.styleColorDark .more-bt .cross:before,
.styleColorDark .more-bt .cross:after {
  background: #fff;
}
.styleColorDark .method__text {
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #000;
  background-color: white;
  box-shadow: 0 0 15px #405ca1;
}
.styleColorDark .method__table {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.styleColorDark .method__table thead {
  color: black;
  background-color: white;
  border: 1px solid black;
  border-bottom: none;
}
.styleColorDark .method__table tbody tr:nth-child(2n) {
  background-color: rgba(255, 255, 255, 0.4);
}
.styleColorDark .method__table tbody td {
  color: #000;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  border-left: solid 1px rgba(0, 0, 0, 0.1);
}
.star {
  color: blue;
}
.delete {
  display: block;
  text-decoration: none;
  box-sizing: border-box;
  font-weight: 800;
  text-align: center;
  width: 200px;
  color: #000;
  border: 2px solid #405ca1;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  margin: 30px auto 30px;
  transition: 0.3s;
  cursor: pointer;
}
.delete:hover {
  color: red;
  border: 2px solid red;
  background-color: white;
  box-shadow: 0 0 15px red;
}
.edit {
  display: block;
  text-decoration: none;
  box-sizing: border-box;
  font-weight: 800;
  text-align: center;
  width: 200px;
  color: #000;
  border: 2px solid #405ca1;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  margin: 30px auto 30px;
  transition: 0.3s;
  cursor: pointer;
}
.edit:hover {
  color: #405ca1;
  border: 2px solid #405ca1;
  background-color: white;
  box-shadow: 0 0 15px #405ca1;
}
.use {
  display: block;
  text-decoration: none;
  box-sizing: border-box;
  font-weight: 800;
  text-align: center;
  width: 200px;
  color: #000;
  border: 2px solid #405ca1;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  margin: 30px auto 30px;
  transition: 0.3s;
  cursor: pointer;
}
.use:hover {
  color: green;
  border: 2px solid green;
  background-color: white;
  box-shadow: 0 0 15px green;
}
.showAll {
  display: block;
  text-decoration: none;
  box-sizing: border-box;
  font-weight: 800;
  text-align: center;
  width: 200px;
  color: #000;
  border: 2px solid #405ca1;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  margin: 30px auto 30px;
  transition: 0.3s;
  cursor: pointer;
}
.showAll:hover {
  color: #405ca1;
  border: 2px solid #405ca1;
  background-color: white;
  box-shadow: 0 0 15px #405ca1;
}
