@keyframes glow {
  0% {
    box-shadow: 0 5px 5px rgba(255, 255, 255, 0.7) inset, 0 -5px 5px rgba(255, 255, 255, 0.7) inset;
  }
  50% {
    box-shadow: 0 5px 5px rgba(255, 255, 255, 0.3) inset, 0 -5px 5px rgba(255, 255, 255, 0.3) inset;
  }
  100% {
    box-shadow: 0 5px 5px rgba(255, 255, 255, 0.7) inset, 0 -5px 5px rgba(255, 255, 255, 0.7) inset;
  }
}
@keyframes stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 60px 0;
  }
}
@keyframes shine {
  0% {
    opacity: 0;
    width: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    width: 95%;
  }
}
.target {
  min-height: 200px;
  padding: 0px 100px;
  margin: 0 0 30px;
  border: 2px solid #fd9215;
  border-radius: 15px;
  transition: all 1s ease;
  cursor: pointer;
  box-shadow: 0 0 5px #fd9215;
}
.target:hover {
  box-shadow: 0 0 25px #fd9215;
}
.target__title {
  text-align: center;
  color: #fff;
}
.target .progress-bar {
  background-color: #1a1a1a;
  display: flex;
  align-items: center;
  height: 30px;
  padding: 5px;
  width: 60%;
  margin: 30px auto 10px auto;
  border-radius: 5px;
  box-shadow: 0 1px 5px #000 inset;
}
.target .progress-bar span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  transition: width 0.4s ease-in-out;
  font-weight: 800;
  color: black;
  font-size: 20px;
}
.target .progress-bar__red {
  background-size: 30px 30px;
  background-color: #ff0000;
  animation: 3s stripes linear infinite;
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.15) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0.15) 75%, transparent 75%, transparent);
}
.target .progress-bar__orange {
  position: relative;
  background-color: #fecf23;
  background-image: linear-gradient(to top, #fecf23, #fd9215);
}
.target .progress-bar__orange::after {
  content: "";
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  border-radius: 3px;
  animation: 2s shine ease-out infinite;
}
.target .progress-bar__green {
  background-color: #a5df41;
  background-image: linear-gradient(to top, #a5df41, #4ca916);
  box-shadow: 0 5px 5px rgba(255, 255, 255, 0.7) inset, 0 -5px 5px rgba(255, 255, 255, 0.7) inset;
  animation: 2s glow ease-out infinite;
}
.target .progress-bar__last {
  text-align: center;
  color: #fff;
  font-size: 20px;
  margin: 0px 0px 20px;
}
.settings {
  margin: 1rem;
}
.settings .user-logo {
  display: block;
  width: 200px;
}
.settings .user-logo img {
  width: 100%;
  height: 100%;
  margin: 0.5rem;
}
.carousel {
  position: relative;
  width: 50vw;
  height: 500px;
  margin: 50px 0px;
  overflow: hidden;
  box-shadow: -1px 2px 10px 2px rgba(0, 0, 0, 0.5);
}
.carousel_slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  z-index: 1;
  background-color: #292929;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.carousel_slide img {
  width: 100%;
  height: 100%;
}
.carousel_history {
  position: absolute;
  z-index: 2;
  bottom: 10px;
  width: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.carousel_history ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  height: 3px;
}
.carousel_history ul li {
  width: 15%;
  box-sizing: border-box;
  height: inherit;
  position: relative;
}
.carousel_history ul li:not(:last-of-type) {
  margin-right: 5%;
}
.carousel_history ul li button {
  border: none;
  outline: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  cursor: pointer;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
}
.carousel_history ul li button.active {
  background-color: rgba(255, 255, 255, 0.95);
}
.carousel_control {
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.1);
  border: 0;
  padding: 0 5px;
  width: 10%;
  overflow: hidden;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  cursor: pointer;
}
.carousel_control span {
  display: inline-block;
  width: 2vw;
  height: 2vw;
  position: relative;
  box-sizing: border-box;
  opacity: 0.65;
  border-bottom: 3px solid white;
  border-left: 3px solid white;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}
.carousel_control:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.carousel_control:hover span {
  opacity: 0.95;
}
.carousel_control__prev {
  left: 0;
  padding-left: 12px;
}
.carousel_control__prev span {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.carousel_control__next {
  right: 0;
  padding-right: 12px;
}
.carousel_control__next span {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.leave {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.enter-active.enter-next,
.enter-active.enter-prev {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 500ms linear;
  transition: -webkit-transform 500ms linear;
  transition: transform 500ms linear;
  transition: transform 500ms linear, -webkit-transform 500ms linear;
}
.enter-next {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
.enter-prev {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 500ms linear;
  transition: -webkit-transform 500ms linear;
  transition: transform 500ms linear;
  transition: transform 500ms linear, -webkit-transform 500ms linear;
}
.leave-active-next {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 500ms linear;
  transition: -webkit-transform 500ms linear;
  transition: transform 500ms linear;
  transition: transform 500ms linear, -webkit-transform 500ms linear;
}
.leave.leave-active-prev {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: -webkit-transform 500ms linear;
  transition: -webkit-transform 500ms linear;
  transition: transform 500ms linear;
  transition: transform 500ms linear, -webkit-transform 500ms linear;
}
.appCar {
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.topMethods {
  margin: 30px -20px;
}
.topMethods__title {
  text-align: center;
}
.topMethods__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}
.topMethods .content__column {
  box-sizing: border-box;
  border: 2px solid #fd9215;
  border-radius: 25px;
  margin: 20px 0px;
  padding: 25px 10px;
  flex: 0 0 45%;
  overflow: hidden;
  transition: 1s;
}
.topMethods .content__column:hover {
  border: 2px solid #ab5d01;
  box-shadow: 0 0 15px #fd9215;
}
.topMethods .content__title {
  font-size: 26px;
  margin: 0px 0px 10px;
}
.topMethods .content__text {
  max-height: 74px;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 0 0 100%;
}
.topMethods .content__likes {
  margin: 20px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.topMethods .content__info {
  display: block;
  text-decoration: none;
  box-sizing: border-box;
  font-weight: 800;
  width: 160px;
  color: #fff;
  border: 2px solid #fd9215;
  background-color: #fd9215;
  border-radius: 20px;
  padding: 10px;
  margin: 30px auto 0px;
  transition: 0.3s;
}
.topMethods .content__info:hover {
  color: #fd9215;
  border: 2px solid #fd9215;
  background-color: #292929;
  box-shadow: 0 0 15px #fd9215;
}
.method {
  text-align: center;
  margin: 30px 0px 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.method__title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 30px;
}
.method__subtitle {
  font-size: 26px;
  font-weight: 700;
}
.method__text {
  font-size: 22px;
  padding: 20px;
  border: 2px solid #fd9215;
  border-radius: 20px;
  color: #fff;
  background-color: #292929;
  box-shadow: 0 0 15px #fd9215;
  margin-bottom: 50px;
}
.method h5 {
  font-size: 20px;
  margin-bottom: 10px ;
}
.method__table {
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.method__table td {
  margin: 0px;
  padding: 15px;
}
.method__table thead {
  color: #fd9215;
  background-color: rgba(255, 255, 255, 0.3);
  position: sticky;
}
.method__table tbody tr {
  padding: 20px 15px;
}
.method__table tbody tr:nth-child(2n) {
  background-color: rgba(255, 255, 255, 0.1);
}
.method__table tbody td {
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 14px;
  color: #fff;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
  border-left: solid 1px rgba(255, 255, 255, 0.1);
}
.method__table tbody td:first-child {
  text-align: center;
  font-size: 18px;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 2em;
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  vertical-align: top;
}
svg path,
svg rect {
  fill: #fff;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #fff;
  overflow-y: scroll;
  background: #292929;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.root {
  height: 100%;
}
.container {
  width: 1200px;
  margin: auto;
}
header {
  position: sticky;
  top: 0;
  border-bottom: 2px solid #fd9215;
  box-shadow: 0 0 25px #fd9215;
  padding: 20px;
  background-color: #292929;
  z-index: 1000;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.link {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 10px;
  color: #ab5d01;
  padding: 0px 10px;
  font-size: 20px;
  border-radius: 7px;
  text-decoration: none;
  transition: 0.2s;
}
.link:hover {
  text-decoration: none;
  color: #fd9215;
}
.active {
  position: relative;
  color: #fd9215;
  text-shadow: 0 0 20px #fd9215;
}
.active:hover {
  color: #fd9215;
}
