@import url('https://fonts.googleapis.com/css?family=Spectral&display=swap');

@import "./components/helpers/variables.less";
@import "./components/helpers/mixins.less";
@import "./components/helpers/keyframes.less";

@import "./scenes/user/target/target.less";
@import "./scenes/user/profile/profile.less";
@import "./scenes/user/Carousel/HomeAuth.less";
@import "./scenes/home/topMethods.less";
@import "./scenes/home/Methods/methodInfo/method.less";
@import "./components/loader/loaders.less";
@import "./scenes/user/methodButton.less";
@import "./scenes/Auth/Modal/form.less";
@import "./scenes/user/selectTarget/newMethod.less";
@import "./components/methods/methods.less";
@import "./components/stars/stars.less";
@import "./scenes/user/targetList/targetlist.less";
::-webkit-scrollbar {
  width: 0px;
  background: rgba(255, 255, 255, 0.0);
}

* {
  transition: .2s;
}
body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Spectral', serif;
}
.styleColorLight {
  height: 100%;
  .modalBg {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
}
.container {
  width: 1200px;
  margin: auto;
  padding: 20px 0px 0px;
}

video {
  position: sticky;
  // height: 100vh;
  width: 100vw;
  z-index: 0;
  top: 0;
  left: 0;
  opacity: 0.5;
  margin: 0
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 20px;
  z-index: 1000;
  .container {
    padding: 0px;
  }
}
.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  &__section {
    display: flex;
    align-items: center;
  }
}

.link {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 10px;
  padding: 0px 10px;
  font-size: 20px;
  border-radius: 7px;
  text-decoration: none;
  transition: 0.2s;
}
.link:hover {
  text-decoration: none;
}
.active {
  position: relative;
}

.edit {
  font-size: 16px;
  width: 230px;
}

.use {
  font-size: 16px;
  width: 230px;
}

.showAll {
  font-size: 16px;
  width: 230px;
}






.tg-list {
  text-align: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}
.tg-list-item {
  margin: 0 2em;
}
.tgl {
  display: none;
}
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
  box-sizing: border-box;
}
.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
  background: none;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
  background: none;
}
.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.tgl + .tgl-btn:after {
  left: 0;
}
.tgl + .tgl-btn:before {
  display: none;
}
.tgl:checked + .tgl-btn:after {
  left: 50%;
}
.tgl-flip + .tgl-btn {
  padding: 2px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  font-family: sans-serif;
  -webkit-perspective: 100px;
          perspective: 100px;
}
.tgl-flip + .tgl-btn:after, .tgl-flip + .tgl-btn:before {
  display: inline-block;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 4px;
}
.tgl-flip + .tgl-btn:after {
  content: attr(data-tg-on);
  background: #02C66F;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
.tgl-flip + .tgl-btn:before {
  background: #FF3A19;
  content: attr(data-tg-off);
}
.tgl-flip + .tgl-btn:active:before {
  -webkit-transform: rotateY(-20deg);
          transform: rotateY(-20deg);
}
.tgl-flip:checked + .tgl-btn:before {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.tgl-flip:checked + .tgl-btn:after {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  left: 0;
  background: #7FC6A6;
}
.tgl-flip:checked + .tgl-btn:active:after {
  -webkit-transform: rotateY(20deg);
          transform: rotateY(20deg);
}
