@import "./components/helpers/variables.less";
@import "./components/helpers/mixins.less";
@import "./components/helpers/keyframes.less";

@import "./scenes/user/target/target.less";
@import "./scenes/user/profile/profile.less";
@import "./scenes/user/Carousel/HomeAuth.less";
@import "./scenes/home/topMethods.less";
@import "./scenes/home/Methods/methodInfo/method.less";
@import "./components/loader/loaders.less";
@import "./scenes/user/methodButton.less";
@import "./scenes/Auth/Modal/form.less";
@import "./scenes/user/selectTarget/newMethod.less";
@import "./components/methods/methods.less";
@import "./components/stars/stars.less";
@import "./scenes/user/targetList/targetlist.less";

body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}
.styleColorDark {
  height: 100%;
  .modalBg {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
}
.container {
  width: 1200px;
  margin: auto;
}

header {
  position: sticky;
  top: 0;
  padding: 20px;
  z-index: 1000;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  &__section {
    display: flex;
    align-items: center;
  }
}

.link {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 10px;
  padding: 0px 10px;
  font-size: 20px;
  border-radius: 7px;
  text-decoration: none;
  transition: 0.2s;
}
.link:hover {
  text-decoration: none;
}
.active {
  position: relative;
}

.edit {
  font-size: 16px;
  width: 230px;
}

.use {
  font-size: 16px;
  width: 230px;
}

.showAll {
  font-size: 16px;
  width: 230px;
}

.star {
  color: @mainColor;
}
.delete {
  .button(red);
}

.edit {
  .button(#fd9215);
}

.use {
  .button(green);
}

.showAll {
  .button(#fd9215);
}
