.myModal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.185);
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  z-index: 100;
}

.myModal-body {
  padding: 2rem;
  margin-top: 15vh;
  min-width: 60vw;
  border-radius: 5px;
  background: rgba(19, 19, 19, 1);
  height: 60vh;
}
