// main: ../../index.less

.allMethods {
  padding: 50px 0px;

  &__search {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__input {
    color: @mainColorText;
    font-size: 20px;
    margin-left: 10px;
    padding: 10px 15px;
    background-color: #1a1a1a;
    border: 2px solid @mainColor;
    border-radius: 25px;
    &:focus {
      outline: none;
      box-shadow: 0 0 15px @mainColor;
    }
  }


  
}
